.App {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 30px auto;
	width: 50%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
}

.App input {
	padding: 10px;
	font-size: 20px;
	width: 51%;
}

@media (max-width: 500px) {
	.App {
		width: 70%;
	}

	.App input {
		width: 71%;
	}
}
